/* Footer.css */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #BAC4A7;
    padding: 16px 20px;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.5s ease-in-out;
}

.footer.visible {
    opacity: 1; 
}

.footer .copyright {
    flex: 1;
    text-align: left;
    color: black;
    margin-left: 60px;
    color: #233115;

}

.footer .creators {
    display: none; 
}

.footer .creators .creator {
    margin-left: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.footer .creators .creator:hover {
    transform: translateY(-3px); 
}

.footer .creators .creator .creator-avatar {
    border-radius: 50%;
    width: 30px; 
    height: 30px; 
    object-fit: cover;
    margin-bottom: 5px;
}

.footer .creators .creator-name {
    font-size: 10px;
    color: #233115;
}

.scroll-to-top {
    background-color: #233115;
    color: #D4D9D1;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1.5rem;
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 1000;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.scroll-to-top:hover {
    background-color: #697644;
    color: #D4D9D1;
    transform: translateY(-3px);
}

@media (min-width: 768px) {
    .footer {
        padding: 16px 32px;
    }

    .footer .copyright {
        margin-left: 60px;
    }

    .footer .creators {
        display: flex;
        flex: 1;
        margin-right: 55px;
        justify-content: flex-end;
        align-items: center;
    }

    .footer .creators .creator {
        margin-left: 10px;
    }

    .footer .creators .creator-avatar {
        width: 40px;
        height: 40px;
    }

    .footer .creators .creator-name {
        font-size: 12px;
    }
}

@media screen and (max-width: 900px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer .copyright {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .footer .creators {
        margin-right: 0;
    }

    .footer .creators .creator {
        margin-left: 6px;
    }

    .scroll-to-top {
        left: 40px;
        transform: translateX(-50%);
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        bottom: 15px;
    }
}