.curriculumContainer {
    width: 100%;
    height: 600px;
    background-color: #bac4a728;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    padding: 20px; 
    box-sizing: border-box;
}

.curriculumtexto {
    color: #233115;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 100px; 
}

.curriculumText {
    color: #233115;
    text-align: center;
    padding: 20px;
    max-width: 1400px; 
}

.curriculumButtons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 900px; 
    margin-top: 40px; 
}

.descargar,
.enlace {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px; 
}

.curriculumButton,
.linkedinCurriculum {
    width: 300px;
    color: #233115;
    background-color: #ABB3AB;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.linkedinCurriculum h3,
.curriculumButton h3 {
    font-size: 16px; 
    font-weight: bold;
}

.linkedinCurriculum:hover,
.curriculumButton:hover {
    background-color: #697644;
    color: #D4D9D1;
    border-radius: 10px;
}

/* Media Queries */

/* Para pantallas de hasta 1200px */
@media (max-width: 1200px) {
    .curriculumContainer {
        height: auto; 
        padding: 20px 15px; 
    }

    .curriculumButtons {
        max-width: 90%; 
    }

    .curriculumButton,
    .linkedinCurriculum {
        width: 100%; 
    }
}

/* Para pantallas de hasta 768px (tablets) */
@media (max-width: 768px) {
    .curriculumtexto {
        font-size: 1.2rem; 
    }

    .curriculumButtons {
        flex-direction: column; 
        align-items: center; 
        margin-top: 20px; 
    }

    .descargar,
    .enlace {
        margin: 10px 0; 
    }

    .curriculumButton,
    .linkedinCurriculum {
        width: 100%; 
    }
}

/* Para pantallas de hasta 480px (móviles) */
@media (max-width: 480px) {
    .curriculumContainer {
        padding: 10px; 
    }

    .curriculumtexto {
        font-size: 1rem; 
        padding: 16px; 
    }

    .curriculumButton,
    .linkedinCurriculum {
        width: 100%;
        font-size: 14px; 
        padding: 10px; 
    }
    
}
