
.action-button {
  background-color:#ABB3AB;
  color: #233115;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.action-button:hover {
  background-color: #697644;
  color:#D4D9D1;
}